.signIn {
  display: flex;
  color: black;
}

.signIn__imageDiv {
  width: 50vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
}

.signIn__imageDiv > img {
  height: 100vh;
  overflow-x: hidden;
}

.signIn__formDiv > form {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.signIn__formDiv > form > * {
  margin: 15px 100px;
}

.signIn__formText {
  width: 400px;
}

.signIn__login {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0a66c2;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

.signIn__loader,
.google__loader {
  padding-top: 0px;
  padding-bottom: 0px;
}

.signIn__loader > .MuiCircularProgress-root,
.signIn__loader > .MuiCircularProgress-root > svg {
  margin-top: 0px;
  color: white;
}

.google__loader > .MuiCircularProgress-root,
.google__loader > .MuiCircularProgress-root > svg {
  margin-top: 0px;
}

.btn__google {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(65, 63, 63, 0.2),
    0 6px 20px 0 rgba(65, 63, 63, 0.19);
}

.btn__google img {
  width: 30px;
  margin-right: 30px;
}

@media (max-width: 1000px) {
  .signIn__imageDiv {
    display: none;
  }

  .signIn {
    justify-content: center;
    align-items: center;
  }

  .signIn__formDiv > form > * {
    margin: 10px;
  }
}
