.navBar {
  /* position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0;
  z-index: 1; */
  box-shadow: 0 5px 35px 0 rgb(168 176 197 / 15%);
}

.navBar__link {
  color: white !important;
  font-weight: 500;
  cursor: pointer;
}

.router__link {
  color: white;
  text-decoration: none;
}

.router__link:hover {
  text-decoration: none;
  color: white;
}
